onnxruntime-gpu
thefuzz[speedup]
pyclean
jupyter
jupyter_contrib_nbextensions
ipywidgets
tqdm
pandas
scipy
numpy
toolz
lenses
opencv-python
mlflow

# Torch packages
torchtext
torch-summary
pytorch_lightning
torchmetrics
