onnxruntime-gpu
thefuzz[speedup]
pyclean
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
autopep8
ipywidgets
tqdm
pandas
scipy
numpy
toolz
lenses
opencv-python
mlflow

# Torch packages
torchtext
torch-summary
pytorch_lightning
torchmetrics

# Battery included
dirtytorch@git+https://github.com/ndgnuh/dirtytorch.git
