onnxruntime-gpu
thefuzz[speedup]
pyclean
jupyter
notebook==6.4.8
jupyter-server<=2.0.0
https://github.com/ipython-contrib/jupyter_contrib_nbextensions/tarball/master
jupyter_nbextensions_configurator
autopep8
ipywidgets
tqdm
pandas
scipy
numpy
toolz
lenses
opencv-python
mlflow

# Torch packages
torchtext
torch-summary
pytorch_lightning
torchmetrics

# Battery included
dirtytorch@git+https://github.com/ndgnuh/dirtytorch.git
